@charset "utf-8";
body,header,main,section,article,footer,aside,nav,h1,h2,h3,h4,h5,h6,ol,ul,li,form,fieldset,legend,input,select,option,button,div,p,address,figure,figcation,dl,dt,dd,table,tbody,caption,th,td,blockquote{ margin:0px; padding:0px;    }
img{ display:block; margin:0px; padding:0px; border:0px;    }
ol,ul{ list-style:none;    }
fieldset{ border:0px;    }
caption,legend{ display: none;}
em,address{ font-style:normal;}
a{ text-decoration:none;    }
table{ border-collapse:collapse; border-spacing:0px;}
strong{ font-weight:normal;}
q::before,q::after{ content:"";}